// breakpoints(Lower Bound)
$fullhd: 1408px;
$widescreen: 1216px;
$desktop: 1024px;
$tablet: 769px;

// Color theme
$color-main: #48C774;
$color-sub-blue: #6BA6CC;
$color-sub-green: #97B95B;
$color-sub-yellow: #F3BE00;
$color-text: #585656;
$color-border: #F1F1F1;
$color-background-grey: #F6F6F6;