@import "styles/sanitize.css";
@import "styles/variables.scss";

@import "styles/page/index.scss";

// layout utilities
.container {
  display: flex;
  align-items: stretch;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  position: relative;
  flex-grow: 1;  
  
  @media screen and (min-width: $desktop) {
    max-width: calc(#{$desktop} - 64px);
  }
  @media screen and (min-width: $widescreen) {
    max-width: calc(#{$widescreen} - 64px);
  }
}


// Global styles
html {
  font-size: 16px;
  color: $color-text;
}
header {
  $header-height: 40px;
  padding: 12px 32px;
  line-height: $header-height;

  .navbar__logo {
    justify-content: flex-start;
    margin: 0;
    margin-right: auto;
    position: relative;


    img {
      height: $header-height;
    }
  }
  
  .navbar__menu {
    justify-content: flex-end;
    margin-left: auto;
    position: relative;

    .menu__link {
      padding: 4px 16px 4px 12px !important;
      position: relative;
      color: $color-text;
      text-decoration: none;
      vertical-align: middle;

      &::before {
        content: "";
        display: block;
        position: absolute;
        top: calc(2px + 0.5em);
        left: 1px;
        width: 4px;
        height: 4px;
        transform: rotate(-45deg);
      }
      &.color-blue::before { background-color: #6BA6CC; }
      &.color-green::before { background-color: #97B95B; }
      &.color-yellow::before { background-color: #F3BE00; }
    }
  }
}

main {
  padding: 0 32px;
  box-sizing: border-box;
  width: 100vw;
}
footer {
  background-color: #7A7D8E !important;
  color: white !important;
  padding: 12px 0;
  
  & > .container {
    justify-content: center;
  }
}

